# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook files
.ipynb_checkpoints

# Logs and databases
*.log

# Environment directory
.venv

# Spark artifacts (if generated locally)
spark-warehouse/
metastore_db/

# Confluent Platform configs and data
/kafka_cluster/data/ 
